.tt { border-bottom: 1px dotted black; cursor: pointer; }
		/* override tooltip style for this page */
body .dojoTooltip { color: blue; border: solid 2px blue; padding: 4px; }
/* and then have some tooltips that look different than the others (just for testing) */
body .waves { color: red; font-style: italic; background: url(images/2.jpg) top right; border: red 3px dotted;}
body .bridge { color: yellow; background: url(images/1.jpg) bottom right; font-family: cursive; font-size: 14pt; }