.td_user { vertical-align: middle; text-align: center; font-weight: bold; width:40%}
.btd_user { vertical-align: top; text-align: left; padding: 3px  5px }

.td_description { vertical-align: middle; text-align: center; font-weight: bold; width: 60%}
.btd_description { vertical-align: top; text-align: left; padding: 3px  5px }
