.td_sec_user { vertical-align: middle; text-align: center; font-weight: bold; }
.btd_sec_user { vertical-align: top; text-align: left; padding: 3px  5px; font-weight: bold}

.btd_col_0 { vertical-align: top; text-align: right; padding: 3px  5px ; font-weight: bold}
